html {
    scroll-behavior: smooth;
    color: rgba(0,0,0,0.85);
}

* {
    font-family: 'Poppins', 'Lato', 'Krona One', sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

body {
    max-width: 100vw;
}

/* Navigation */
/* ***** Top ****** */
.top-navigation {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0.5% 3%; 
    background-color: #fff;
}

.top-navigation > a > .logo {
    width: 22rem;
    max-width: 80%;
}

.mobile-contact-top {
    padding: 1% 2%;
    background-color: #ebebeb;
    display: none;
    align-items: center;
    justify-content: center;
}

.mobile-contact-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    min-width: 120px;
    padding: 1%;
    margin: 0;
}

/* ****** Bottom ****** */
.main-nav-list {
    display: flex;
}

.contact-us-button {
    text-decoration: none; 
    color: rgb(255,255,255); 
    font-size: 16px; 
    background-color: #bf2026; 
    border-radius: 40px; 
    padding: 10px 16px; 
    text-wrap: nowrap;
    margin: 2px;
}

/* Mobile Navigation */
.mobile-navigation {
    width: 100%;
    display: none;
}

.mobile-navigation-btn {
    min-width: 80%;
    text-align: center;
    border-radius: 6px;
}

.mobile-navigation-btn:hover {
    background-color: rgba(0,0,0,0.1);
}

.mobile-navigation-list {
    display: none;
}

.mobile-navigation-list > a {
    text-decoration: none;
    width: 100%;
    line-height: 2.2;
    font-size: 1.3rem;
}

.mobile-navigation-item {
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 2.2;
}

.mobile-navigation-item:hover {
    /* background-color: rgba(0,0,0,0.1); */
}

.mobile-drop-navigation {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mobile-drop-navigation > a {
    text-decoration: none;
    width: 100%;
    line-height: 2.2;
    font-size: 1.1rem;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.mobile-drop-navigation > a:hover {
    background-color: #bf2026;
    color: #fff;
}

/* Footer */
footer {
    color: #fff;
}

.footer-top {
    border-bottom: 2px solid rgba(0,0,0,0.1);
    margin-top: 10px;
}

.footer-title {
    text-align: center;
    padding: 6px 0;
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    margin: 0;
    font-style: italic;
}

.footer-bottom {
    background: #bf2026;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2% 15% 2% 15%;
}

.footer-list-title {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.footer-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list > ul > li > a {
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}

.footer-list > ul > li > a:hover {
    color: rgba(0,0,0,0.9);
}

.footer-boxes {
    background: #bf2026;
    padding: 0 15% 4% 15%;
    display:flex;
    width: 100%;
}

.footer-boxes-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid rgba(0,0,0,0.1);
    padding-top: 2%;
    width:100%;
}

.footer-logobox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logobox > a >  img {
    background-color: rgba(255,255,255,0.25);
    width: 90%;
    height: 60px;
    border-radius: 6px;
    padding: 4px;
}

.footer-socialbox {
    display: flex;
    align-items: center;
    column-gap: 5%;
}

.credits {
    background: #a51c20;
}

.credits > p {
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-size: 13px;
    padding: 5px 0;
    margin: 0;
}


@media only screen and (max-width: 1150px) {
    .footer-bottom {
        padding: 4% 3% 5% 3%;
        column-gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-list {
        width: 35%;
        min-width: 200px;
    }

}

@media only screen and (max-width: 915px) {
    .main-nav-list {
        display: none;
    }

    .mobile-navigation {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 875px) {
    .top-navigation {
        flex-direction: column;
    }
}



@media screen and (max-width: 700px) {
    .nav-list {
        display: none;
    }

    .mobile-contact-top {
        display: flex;
    };

    
}