/*CSS tied to the contact-us and schedule a free assessment section*/

/*Schedule a Free Assessment specific CSS*/



 /*Schedule an Assessment Description*/
 .schedule-desc-img{
    background-image: url("../assets/line-curved.svg");
    background-repeat: no-repeat;
    background-position: center;
 }

 .schedule-desc-section{
    flex-direction: column;
 }

 .schedule-desc-container {
    display: flex;
    padding: 0 10%;  
 }

 .schedule-text-container {
    width: 50%;
    line-height: 2.6;
 }

 .schedule-card {
   display: flex;
   width: 30%;
   min-width: 350px;
   min-height: 274px;
   padding: 0 2% 1% 2%; 
   line-height: 1.8;
   margin: 1%;
   background-color: #efefef;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
   flex-direction: column;
   text-align: center;
   font-weight: 600;
}

@media screen and (max-width: 700px) {

    /*Schedule an Assessment Description --Mobile*/
    .schedule-desc-container {
        flex-direction: column;
    }
    .schedule-text-container {
        width: 100%;
    }
    .schedule-form-container {
      min-width: 285px;
    }

}


/*Submission Page specific CSS */
.submit-message {
   padding: 4% 1%;
   background: url("../../assets/svgs/summitaffiliatesvgs-06\ \(1\).svg");
}

.submit-message-header {
   text-align: center;
   font-size: 2.9rem;
}




.submit-message-subheader {
   text-align: center;
   font-size: 1.2rem;
}

.submit-message-btns {
   display: flex;
   justify-content: center;
   padding: 1% 1%;
}




.submit-message-button {
   background-color: #524c4c;
   color: #ffff;
   padding: 10px 20px;
   margin: 1% 1%;
   text-decoration: none; 
   border-radius: 6px;
}

.submit-cards {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0% 15%;
}


.submit-card {
   padding: 3% 1%;
   margin: 1% 1%;
   background-color: #bf2026;
   height: 400px;
   width: 300px;
   border-radius: 20px;
   color: #ffffff;
   text-align: center;
   box-shadow: rgba(0, 0, 0, .60) 0px 10px 15px;
   text-decoration: none;
}



.submit-cta {
   display: flex; 
   justify-content: center;
   align-items: center;
   margin: 6% 15%;
   height: 400px;
   background-color: #bf2026;
   border-radius: 30px;
   box-shadow: rgba(0, 0, 0, .60) 0px 10px 15px;
}


.submit-cta-content {
   text-align: left;
   color: #ffffff;
}

.submit-cta-header {
   padding: 1% 6%;
   font-size: 2.3rem;
}

.submit-cta-desc {
   padding: 1% 6%;
   font-size: 1.1rem; 
}


.submit-cta-img {
   background-image: linear-gradient(270deg, rgba(255,255,255, 0) 10%, rgba(191,32,38,1)), url("../assets/graphics/stock/document-archvie.webp");
   background-size: cover;
   background-position: right;
   background-repeat: no-repeat;
   width: 90%;
   height: 400px;
   border-radius:  0px 30px 30px 0px;
   opacity: .75;
}

/*Submission Page - Mobile Layout*/
@media screen and (max-width: 700px) {

   .submit-message-header {
      font-size: 2.2rem;
      padding: 0 4%;
   }

   .submit-message-subheader {
      font-size: 1.1rem;
      padding: 0 6%;
   }

   .submit-message-btns {
      padding: 6% 0;
   }

   .submit-cards {
      flex-direction: column;
   }

   .submit-card {
      display: flex;
      flex-direction: column;
      padding: 3% 1%;
      margin: 10% 1%;
      background-color: #bf2026;
      width: 340px;
      height: 140px;
   }

   .submit-card-icon > img {
      width: 90px;
   }

   .submit-card-title {
      font-size: 1.3rem;
   }

   .submit-cta {
      flex-direction: column;
      margin: 6% 4%;
   }

   .submit-cta-content {
      order: 2;
      text-align: center;
   }

   .submit-cta-header {
      padding: 1% 1%;
      font-size: 1.4rem;
   }

   .submit-cta-desc {
      padding: 1% 1%;
      font-size: .9rem; 
   }

   .submit-cta-img {
      order: 1;
      width: 100%;
      height: 230px;
      background-image: url("../assets/graphics/stock/document-archvie.webp");
      border-radius: 30px 30px 0px 0px;
   }
}